.textfield {
      -fx-border-color: "red";
}
#mostrarIniciarSesion{
    -fx-text-alignment: right;
}
#mostrarInicioSesion{
    -fx-font-size: 30;
    -fx-font-family: "Arial";
    -fx-text-fill: "black";
    -fx-font-weight:bold;
}
.anchor-redondeado {
    -fx-border-radius: 10; /* Ajusta el valor para redondear más o menos */
    -fx-background-radius: 10; /* Esto redondeará también el fondo */
    -fx-background-color: white; /* Puedes cambiar el color de fondo si lo deseas */

}
#principal{
    -fx-background-color: #f0f0f0;
 }
 #secundario{
     -fx-background-color: "white";
  }
 .btn{
   -fx-background-color:#68c3b7; /* Cambia el valor hexadecimal al color deseado */
   -fx-font-family: "Arial";
   -fx-font-weight: bold;
   -fx-font-size: 15;
   -fx-text-fill: "white";
 }
 .error{
    -fx-text-fill : "red";
 }
