/* Estilo para la clase del contenedor */
.cada_restaurante {

}

/* Estilo para la clase de la imagen */
.imagen_restaurante {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);
}

/* Estilo para la clase del label */
.texto_restaurante {
    -fx-font-size: 1.17em;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica Neue";

}
.tiempo{
    -fx-text-fill: #888888; /* Color gris para el texto */
    -fx-font-size: 13px; /* Tamaño de la fuente pequeño */
    -fx-font-family: "Arial";
}

.contenedor_cantidad_restaurantes{
    -fx-background-color : #fff;
    -fx-background-radius: 15px;
     -fx-border-color: rgba(0, 0, 0, 0.7);
    -fx-border-width: 0.5px;
     -fx-border-radius: 10px;
     -fx-padding: 5px;
}
#labelCerca{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 1.55em;
}
.labelCantidadRestaurantesNombre{
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 1.25em;
}
.labelCercaRestaurantes{
    -fx-font-family: "Roboto";
    -fx-font-size: 1.25em;
    -fx-text-fill: "grey";

}
#labelOfertas{
    -fx-font-family: "Roboto";
        -fx-font-size: 2.25em;
        -fx-font-weight: bold;
        -fx-text-fill: "white";
}
#btn_ver_mas{

}
#contenedorOfertas{
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 35px;
    -fx-background-image: url("../imagenes/brindis-cena.jpg");
    -fx-background-color : #fff;
}
#contenedor_gastado{

}
#cantidad_gastado{
    -fx-font-family: "Roboto";
            -fx-font-size: 8.25em;
            -fx-text-fill: #539091;
            -fx-font-weight: bold;

}

#labelGastadoMes{
    -fx-font-family: "Roboto";
        -fx-font-size: 2.25em;
        -fx-text-fill: "black";
        -fx-font-weight: bold;
}
.btn_mas{
    -fx-background-color:#539091; /* Cambia el valor hexadecimal al color deseado */
       -fx-font-family: "Arial";
       -fx-font-weight: bold;
       -fx-font-size: 13;
       -fx-text-fill: "white";
       -fx-background-radius: 25px;
       -fx-min-width: 120px; /* Ancho mínimo */
       -fx-min-height: 40px; /* Altura mínima */
       -fx-max-width: 120px; /* Ancho máximo */
       -fx-max-height: 40px;
}
.redondear_imagen{
    -fx-background-radius: 50%; /* Redondear los bordes */
        -fx-border-radius: 50%; /* Redondear los bordes */
        -fx-background-color: white; /* Color de fondo */
        -fx-border-color: black; /* Color del borde */
        -fx-border-width: 2px; /* Ancho del borde */
        -fx-border-style: solid; /* Estilo del borde */

}
.test{
}

.nombre_restaurante{
        -fx-font-family: "Roboto";
        -fx-font-size: 1.25em;
        -fx-text-fill: "black";
        -fx-font-weight: bold;

}
.tiempo-entrega{
-fx-font-family: "Roboto";
        -fx-font-size: 1em;
        -fx-text-fill: "grey";

}
