.btn{
   -fx-background-color: #539091;
   -fx-font-family: "Arial";
   -fx-font-weight: bold;
   -fx-font-size: 13;
   -fx-background-radius: 25px;
   -fx-text-fill: "white";
}
.info{
    -fx-text-fill: "red";
    -fx-font-size: 12;
}
