/* Estilo para la clase del contenedor */
.cada_restaurante {

}

/* Estilo para la clase de la imagen */
.imagen_restaurante {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);
}

/* Estilo para la clase del label */
.texto_restaurante {
    -fx-font-size: 14px;
       -fx-font-weight: bold;
            -fx-font-family: "Helvetica Neue";

}
.anchor_principal{
    -fx-border-color: "black";
     -fx-border-width: 1px;
}
.grid_pane{
  -fx-padding: 70 0 0 50;
}