.imagen-comida{
    -fx-padding: 0 20 0 0;

}
.vbox-foto-nombre{

}
.contenedor-cada-comida{

}
.nombre-comida{
  -fx-font-family: "Arial"; /* Tipo de fuente */
  -fx-font-size: 16px; /* Tamaño de la fuente */
  -fx-font-weight: bold; /* Fuente en negrita */
  -fx-text-fill: #333333;
}

.imagen-vacio{
}

.btn-eliminar{
    -fx-background-radius: 20px;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
}

.btn-eliminar:hover {
     -fx-background-color: red;
 }

.texto{
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;

}
.info{
    -fx-text-fill : "red";
}
.rellenar-pago{
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
}
