.nombreComida{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
}
.mostrar-calorias{
    -fx-text-fill: #888888;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto";
}
.btn-eliminar{
     -fx-font-size: 14px;
     -fx-padding: 10px 20px;
     -fx-background-radius: 20;
}
.nombre_restaurante{
    -fx-font-family: "Roboto";
    -fx-font-size: 2.5em;
    -fx-text-fill: "black";
    -fx-font-weight: bold;

}
.tiempo-entrega{
    -fx-font-family: "Roboto";
    -fx-font-size: 1.2em;
    -fx-text-fill: "grey";

}